# Chặn môi trường ảo
venv/
.venv/
env/

# Chặn cấu hình riêng của IDE
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Chặn bộ đệm Python
**/__pycache__/
*.pyc

# CHẶN TOÀN BỘ DATA NẶNG (Quan trọng nhất)
data/
*.csv
*.xlsx